<div *ngIf="!loading">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Status</mat-card-title>
      <mat-card-subtitle>{{raceStatus}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <button mat-raised-button [disabled]="raceIsActive" (click)="armRace()">Aktivera lopp</button>
      <button mat-raised-button [disabled]="!raceIsActive" (click)="abortRace()">Avbryt lopp</button>
    </mat-card-actions>
  </mat-card>

  <hr/>

  <h1>Kö</h1>
  <div *ngIf="queue">
    <div *ngIf="queue.length === 0">Kön är tom</div>
    <mat-list *ngIf="queue.length > 0" role="list">
      <div *ngFor="let race of queue">
        <mat-list-item role="listitem">
          <mat-icon mat-list-icon>account_box</mat-icon>
          <h3 mat-line>{{race.userName}}</h3>
          <p mat-line>{{race.raceId}}</p>
        </mat-list-item>
        <mat-divider></mat-divider>
      </div>
    </mat-list>
  </div>

  <div *ngIf="wsMessages$ | async as wsMessage">
    <mat-card class="ws-message">
      <h3>Senaste meddelande från backend</h3>
      {{wsMessage | json}}
    </mat-card>
  </div>
</div>

<div *ngIf="loading" class="loading-indicator">
  <mat-spinner></mat-spinner>
</div>
